@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: rgb(226 232 240);
}

.bgImg1 {
  background-image: url("./assets/imgHero1.jpg");
  background-size: cover;
  background-position: center;
}
